*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
a:hover{
    color: red;
    
}

/*  HEADER  */

header{
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    transition: 0.2s;
    z-index: 100000;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
}

.logoname{
    text-align: center;
    position: static;
    overflow: hidden;
    color: rgb(81, 81, 81);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;

}
.navbar{
    display:inline;
    overflow: hidden;
    margin-top: 40px;
    color: black;
    font-size: medium;
    text-align: center;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 0 20px;    
    font-size: large;
    font-weight: 500;
    letter-spacing: 5px;
   
}





/*MAIN*/
.poz{
    margin-top: 250px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: white;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}
.box{
    text-align: justify;
    margin-top: 80px;
    word-break: break-all;
    overflow-wrap: break-word;
    width: 1030px;
    margin-left: 500px;
    margin-right: 500px;
    justify-content: center;
    font-size: 40px;
}
@media only screen and (min-width:600px) {

    .box{
        margin-left: 300px;
        font-size: 35px;
        text-align: justify;

    }


}





/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    color: black;
    font-size: medium;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;

}

@media only screen and (min-width:600px) {

    footer{
        display: flex;
        margin-top: 50px;
    
    }


}
